.battle-scramble-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.battle-scramble {
    padding: 16px;
    text-align: center;
    font-size: 32px;
    width: 75%;
}

.battle-breadcrumb {
    padding: 6px 12px;
    text-align: center;
    background-color: #403939;
    border: 1px solid #605252;
    color: #ffffff;
    border-radius: 45px;
}

.battle-info-panel {
    display: flex;
    align-items: center;
    margin-top: 0.83em;
}

.battle-icon-button {
    all: unset;
    margin-left: auto;
    border-radius: 50%;
    padding: 12px;
}

.battle-icon-button:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.battle-competitor-avatars-container {
    margin-left: 30px;
    margin-right: 40px;
    display: inline-flex;
    flex-direction: row;
}

.battle-competitor-username:hover {
    text-decoration: underline;
}

.battle-competitor-elo {
    color: #917c7c;
}

.battle-competitor-avatar {
    border-radius: 50%;
    position: relative;
    border: 4px solid #201d1d;
    width: 48px;
    height: 48px;
    overflow: hidden;
}

.battle-competitor-avatar:last-child {
  margin-left: -84px;
}

.battle-competitor-avatar img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.battle-timer-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.battle-timer-text {
    font-size: 64px;
    padding: 20px;
}

.battle-timer-keyboard-hint {
    padding: 9px 14px;
    text-align: center;
    background-color: #403939;
    color: rgba(255, 255, 255, 0.3);
}

.battle-draw-scramble {
    position: fixed;
    bottom: 40px;
    right: 30px;
}

.battle-results-panel {
    text-align: center;
    position: fixed;
    bottom: 40px;
    left: 30px;
}

.battle-score {
    margin-bottom: 16px;
}

.battle-score span {
    margin: 0 4px;
}

.battle-results-table {
    font-size: 18px;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.battle-results-table td {
    padding: 8px;
}

.battle-results-table th {
    padding: 8px;
}

.battle-results-table tr:nth-child(even) {
    background-color: #403939;
}