.dashboard-elo-box {
    padding-top: 45px;
    padding-bottom: 45px;
}

.dashboard-elo-box-display {
    display: flex;
    align-items: baseline;
}

.dashboard-elo-box-regression {
    margin-left: 8px;
    color: #938181
}

.dashboard-elo-box-improvement {
    margin-left: 8px;
    color: #67dc57
}

.dashboard-elo-box-regression {
    margin-left: 8px;
    color: #ff3c3c
}

.dashboard-elo-box-username {
    margin-top: 15px;
    margin-bottom: 15px;
}

.dashboard-elo-box-username:hover {
    text-decoration: underline;
}

.dashboard-elo-box-elo {
    margin: 0;
    font-size: 70px;
}

.dashboard-match-history {
    width: 100%;
}

.dashboard-match-history-table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

.dashboard-match-history-table td {
    padding: 8px;
}

.dashboard-match-history-table th {
    padding: 8px;
}

.dashboard-match-history-table tr:nth-child(even) {
    background-color: #403939;
}

.dashboard-match-history-table-win-cell {
    color: #67dc57;
}

.dashboard-match-history-table-loss-cell {
    color: #ff3c3c;
}

.dashboard-start-battle {
    margin-top: 90px;
}

.dashboard-start-battle-form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.dashboard-start-battle-form svg {
    margin-left: 6px;
}

.dashboard-start-battle-form-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 18px;
    background-color: #403939;
    border: 1px solid #605252;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
}

.dashboard-start-battle-form-opponent {
    border-left: none;
    border-right: none;
}

.dashboard-start-battle-form-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 18px;
    background-color: #6262ff;
    border: 1px solid #6c6cff;
    border-left: 1px solid #605252;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
}

.dashboard-start-battle-form-submit:hover {
    background-color: #6c6cff;
}