.dashboard-elo-box {
    padding-top: 45px;
    padding-bottom: 45px;
}

.dashboard-elo-box-display {
    display: flex;
    align-items: baseline;
}

.dashboard-elo-box-regression {
    margin-left: 8px;
    color: #938181
}

.dashboard-elo-box-improvement {
    margin-left: 8px;
    color: #67dc57
}

.dashboard-elo-box-regression {
    margin-left: 8px;
    color: #ff3c3c
}

.dashboard-elo-box-username {
    margin-top: 15px;
    margin-bottom: 15px;
}

.dashboard-elo-box-username:hover {
    text-decoration: underline;
}

.dashboard-elo-box-elo {
    margin: 0;
    font-size: 70px;
}

.dashboard-match-history {
    width: 100%;
}

.dashboard-match-history-table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

.dashboard-match-history-table td {
    padding: 8px;
}

.dashboard-match-history-table th {
    padding: 8px;
}

.dashboard-match-history-table tr:nth-child(even) {
    background-color: #403939;
}

.dashboard-match-history-table-win-cell {
    color: #67dc57;
}

.dashboard-match-history-table-loss-cell {
    color: #ff3c3c;
}

.dashboard-start-battle {
    margin-top: 90px;
}

.dashboard-start-battle-form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.dashboard-start-battle-form svg {
    margin-left: 6px;
}

.dashboard-start-battle-form-dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    padding: 14px 50px;
    background-color: #403939;
    border: 1px solid #605252;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaGV2cm9uLWRvd24taWNvbiBsdWNpZGUtY2hldnJvbi1kb3duIj48cGF0aCBkPSJtNiA5IDYgNiA2LTYiLz48L3N2Zz4=');
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 18px;
}

.dashboard-start-battle-form-dropdown:hover {
    cursor: pointer;
    background-color: #453d3d;
}

.dashboard-start-battle-form-opponent {
    border-left: none;
    border-right: none;
}

.dashboard-start-battle-form-submit {
    text-align: center;
    padding: 14px 50px;
    background-color: #6262ff;
    border: 1px solid #6c6cff;
    border-left: 1px solid #605252;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1hcnJvdy1yaWdodC1pY29uIGx1Y2lkZS1hcnJvdy1yaWdodCI+PHBhdGggZD0iTTUgMTJoMTQiLz48cGF0aCBkPSJtMTIgNSA3IDctNyA3Ii8+PC9zdmc+');
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 18px;
    text-wrap: nowrap;
}

.dashboard-start-battle-form-submit:hover {
    background-color: #6c6cff;
}