{% extends 'app_skeleton.html' %}
{% load static %}
{% load mathfilters %}

{% block title %}Dashboard{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'styles/app.css' %}">
    <link rel="stylesheet" href="{% static 'game/styles/dashboard.css' %}">
{% endblock %}
{% block app_content %}
    <div class="dashboard-elo-box">
        <a class="dashboard-elo-box-username" href="/users/{{ user.get_username }}">{{ user.get_username }}</a>
        <div class="dashboard-elo-box-display">
            <p class="dashboard-elo-box-elo">{{ user.elo|floatformat:"0" }}</p>
            {% if user.elo > user.previous_elo %}
                <p class="dashboard-elo-box-improvement">+{{ user.elo|sub:user.previous_elo|floatformat:"0" }}</p>
            {%  elif user.elo < user.previous_elo %}
                <p class="dashboard-elo-box-regression">-{{ user.previous_elo|sub:user.elo|floatformat:"0" }}</p>
            {% endif %}
        </div>
    </div>
    <div class="dashboard-match-history">
        <h2>Recent battles</h2>
        <table class="dashboard-match-history-table">
            <tr>
                <th>Result</th>
                <th>Completed</th>
                <th>Type</th>
                <th>Opponent</th>
                <th>Links</th>
            </tr>
            <tr>
                <td class="dashboard-match-history-table-win-cell">WIN</td>
                <td>Today 09:30 am</td>
                <td>Bo5</td>
                <td><a href="/users/eg">faz2887 (1879)</a></td>
                <td><a href="/battle/26638c2e-446c-4ef8-a980-effcbbaaa2dd/details">Details</a></td>
            </tr>
            <tr>
                <td class="dashboard-match-history-table-loss-cell">LOSS</td>
                <td>Today 09:13 am</td>
                <td>Bo5</td>
                <td><a href="/users/eg">jacobjoshi (1760)</a></td>
                <td><a href="/battle/26638c2e-446c-4ef8-a980-effcbbaaa2dd/details">Details</a></td>
            </tr>
            <tr>
                <td class="dashboard-match-history-table-loss-cell">LOSS</td>
                <td>13 Jan 04:45 pm</td>
                <td>Bo5</td>
                <td><a href="/users/eg">tymonkol (2957)</a></td>
                <td>
                    <a href="/battle/26638c2e-446c-4ef8-a980-effcbbaaa2dd/details">Details</a><br>
                </td>
            </tr>
            <tr>
                <td class="dashboard-match-history-table-loss-cell">FORFEIT</td>
                <td>13 Jan 02:12 pm</td>
                <td>Bo3 sets (first to 5)</td>
                <td><a href="/users/eg">randoa2mon (2030)</a></td>
                <td><a href="/battle/26638c2e-446c-4ef8-a980-effcbbaaa2dd/details">Details</a></td>
            </tr>
        </table>
    </div>
    <div class="dashboard-start-battle">
        <h2>Start a battle</h2>
        <form class="dashboard-start-battle-form">
            <button class="dashboard-start-battle-form-dropdown">
                Bo5
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>
            </button>
            <button class="dashboard-start-battle-form-dropdown dashboard-start-battle-form-opponent">
                Random opponent
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>
            </button>
            <button type="submit" class="dashboard-start-battle-form-submit">
                Start battle
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
            </button>
        </form>
    </div>
{% endblock %}