{% extends 'base_generic.html' %}
{% load static %}

{% block title %}Finding battles{% endblock %}

{% block head %}
    {{ socket_id|json_script:"socket-id" }}
    <script>
        const socketId = JSON.parse(document.getElementById('socket-id').textContent);
        const socket = new WebSocket(`ws://${window.location.host}/ws/matchmaking/${socketId}/`);

        socket.onmessage = (e) => {
            const data = JSON.parse(e.data);
            window.location.replace(`/battle/${data.message}`);
        };

        socket.onclose = () => {
            console.error('Socket connection lost')
        }
    </script>
{% endblock %}
{% block body %}
    <p>Finding battles...</p>
{% endblock %}