.login-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.login-form-container {
    padding: 24px;
}


.login-wca-oauth-link {
    margin-top: 20px;
    display: flex;
    background-color: #6262ff;
    padding: 10px 0px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.login-wca-oauth-link:hover {
    background-color: #4c4cc8;
}

.login-wca-oauth-label {
    margin-left: 12.5px
}

