{% load static %}

<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/global.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% block head %}{%  endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    <footer class="copyright-footer">
        <p class="copyright-text">© William Herring 2026 | <a target="_blank" href="https://github.com/william-herring/cubeclash">GitHub</a></p>
    </footer>
</body>
</html>