body {
    margin: 0;
    background-color: #201d1d;
    color: #ffff;
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

.placeholder-logo {
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
}

button:hover {
    cursor: pointer;
}