body {
    margin: 0;
    background-color: #201d1d;
    color: #ffff;
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

.placeholder-logo {
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
}

button:hover {
    cursor: pointer;
}

.copyright-footer {
    position: fixed;
    text-align: right;
    width: 100%;
    bottom: 0;
    height: 40px;
}

.copyright-text {
    font-size: 12px;
    color: #6a5f5f;
    bottom: 0;
    right: 0;
    margin-right: 20px;
}

.copyright-text a {
    color: #6a5f5f;
}